<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmt.seckill.mapper.ItemStockMapper">
    <resultMap id="BaseResultMap" type="com.mmt.seckill.model.ItemStock">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
    </resultMap>
    <update id="decreaseStock">
      UPDATE item_stock SET stock = stock - #{amount,jdbcType=INTEGER} WHERE item_id = #{itemId,jdbcType=INTEGER} AND stock >=#{amount,jdbcType=INTEGER}
  </update>
</mapper>